*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
  background: #dfce61;
  background: linear-gradient(135deg, #dfce61, #ffb21b);
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 2rem;
  min-height: 20vh;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  font-family: inherit;
}

.todo__input {
  width: 40%;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  outline: none;
}

.todo__button {
  cursor: pointer;
  padding: 0.9rem 1rem;
  border: none;
  font-family: inherit;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  color: #fcfcfc;
  background: #373634;
  background: linear-gradient(315deg, #373634, #010101);
}

.todo__button:hover {
  background: #9d9b94;
  background: linear-gradient(315deg, #9d9b94, #010101);
}

.todo__button:active {
  transform: translateY(0.2rem);
}

.todo__container {
  font-family: inherit;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.todo-list {
  list-style: none;
  min-width: 40%;
}

.todo {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
  transition: all 0.2s ease;
}

.todo li {
  flex: 1;
}

.complete__button {
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  color: #fcfcfc;
  background: #4a884c;
  background: linear-gradient(45deg, #4a884c, #6ecf76);
  cursor: pointer;
}

.trash__button {
  font-size: 1rem;
  color: #fcfcfc;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background: rgba(100, 107, 100, 1);
  background: linear-gradient(45deg, rgba(100, 107, 100, 1), rgba(217, 31, 33, 1));
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select {
  position: relative;
  overflow: hidden;
  width: fit-content;
}

select {
  background-color: black;
  color: #fcfcfc;
  border: none;
  appearance: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  outline: none;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  color: #fcfcfc;

  pointer-events: none;
}
